*{
    margin:0px;
    padding:0px;
}

body{
    background-image:none;
    background-color:black;
    transition:1s;
    background-size:cover;
}

#account{
    background-color:rgba(255,255,255,0.1);
    box-shadow:0px 0px 40px rgba(255,255,255,0.5);
    border-top:1px solid white;
    border-left:1px solid white;
    backdrop-filter: blur(3px);
    height:500px;
    width:500px;
    position:absolute;
    right:20px;
    border-radius:20px;
    top:-600px; /*50px originally,-600 px for functioning*/
    transition:2s;
}

h1{
    text-align: center;
    line-height:60px;
}

.userinfo{
    display:flex;
    flex-direction: column;
    margin:40px;
    margin-top:-30px;
    margin-left:50px;
    height:40px;
    width:180px;
    border-radius:13px;
    background-color: transparent;
    border:1px solid black;
}

#fname{
    margin-top:20px;
}

.userinfo::placeholder{
    color:black;
}

#sbmt{
    height:30px;
    width:70px;
    padding:5px;
    padding-left:12px;
    background-color:white;
    cursor:pointer;
}

#sbmt:active{
    transform:scale(1.1);
}

.checker{
    color:white;
    position:absolute;
    top:285px;
    left:125px;
}

#main{
    position:absolute;
    height:500px;
    width:1000px;
    right:2000px; /* for editting 250px and 1500px for functioning */
    top:50px; /* for editting 50px */
    background-color:rgba(255,255,255,0.1);
    border-radius:20px;
    backdrop-filter: blur(5px);
    box-shadow:0px 0px 20px rgba(83, 83, 83, 0.5);
    transition:2s;
}

#info{
    height:150px;
    width:300px;
    position:absolute;
    background-color: rgb(155, 155, 155);
    left:20px;
    border-radius:10px;
    padding-top:30px;
}

#info p{
    font-size:20px;
    padding-left:20px;
    font-family: Arial, Helvetica, sans-serif;
}

#vinfo{
    text-align:center;
}

#info #SorT{
    font-size: 15px;
    color:black;
    -webkit-text-stroke: 1px yellow;
    text-align: center;
}

.experiences{
    background-color:rgba(241, 241, 241,0.7);
    height:350px;
    width:400px;
    position:absolute;
    right:50px;
    border-radius: 30px;
    display:flex;
    flex-direction: column;
}

.experiences div{
    color:white;
    text-align:center;
    font-size:20px;
    height:60px;
    width: 250px;
    background-color:Black;
    margin-left:70px;
    margin-top:15px;
    border-radius:20px;
    padding-top:15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor:pointer;
    transform: scale(1);
    transition:1s;
    box-shadow:0px 0px 20px rgb(156, 156, 156);
}

.experiences div:hover{
    transform:scale(1.1);
}

#experiences2 div{
    height:450px;
    background-color:rgba(241, 241, 241,0.9);
    width:700px;
    position:absolute;
    left:250px; /*250px when editting.*/
    top:-1000px; /*80px when editting. */
    border-radius: 70px;
    box-shadow: 0px 0px 300px rgb(82, 82, 82);
    transition:1s;
}

#backk{
    height:20px;
    width:50px;
    background-color:white;
    box-shadow:0px 0px 20px rgb(177, 177, 177);
    color:black;
    -webkit-text-stroke: 0px white;
    cursor:pointer;
    position:absolute;
    margin:10px;
    top:-1000px; /*10px for editting */
    padding:20px;
    padding-top:15px;
    text-align:center;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 15px;
    transition:2s;
}

@media (max-width: 600px){
    #account{ 
        right:40px;
        height:400px;
        width:300px;
    }

    h1{
        font-size:23px;
    }

    #main{
        top:10px;
        right:1000px;
        width:300px;
        height:500px;
    }

    #main h1{
        font-size:12px;
    }

    #info{
        padding-top:5px;
        height:60px;
        width:150px;
    }

    #info p{
        font-size:12px;
    }

    #SorT{
        font-size:5px;
    }

    .experiences{
        height:200px;
        width:150px;
        right:140px;
        top:150px;
        transition:2s;
    }

    .experiences div{
        height:30px;
        width:100px;
        font-size:13px;
        margin-left:20px;
    }
}
